<app-top-bar></app-top-bar>
    <button class="positionprice" id="Price">Ordernar por preço</button>
    <button class="positionName" id="Name">Ordernar por nome</button>
<div class="line"></div>

<div *ngIf="loadContent" >

	<form [formGroup]="form"  class="positionMenu position1">
    <ng-multiselect-dropdown
      [placeholder]="'Tipo de animal'" 
      [data]="dataAnimal" 
      [formControl]="f.name" 
      [settings]="settings"
      (onSelect)="onItemSelectAnimal($event)" 
      (onDeSelect)="onDeSelectAnimal($event)">
		</ng-multiselect-dropdown>
   
  </form>

  <div *ngIf="isCachorroOption">
    <form [formGroup]="form"  class="positionMenu position2">
      
        <ng-multiselect-dropdown
          [placeholder]="'Porte'" 
          [data]="dataPorte" 
          [formControl]="f.name2" 
          [settings]="settings"
          (onSelect)="onItemSelectPorte($event)" 
          (onDeSelect)="onDeSelectPorte($event)">
        </ng-multiselect-dropdown>
    
    </form>
   </div>

   <div *ngIf="isGatoOption">
    <form [formGroup]="form"  class="positionMenu position2">
      
        <ng-multiselect-dropdown
          [placeholder]="'Tipo'" 
          [data]="dataGato" 
          [formControl]="f.name2" 
          [settings]="settings"
          (onSelect)="onSelectGato($event)" 
          (onDeSelect)="onDeSelectGato($event)">
        </ng-multiselect-dropdown>
      
    </form>
  </div>

  <div *ngIf="isAvesOption">
   <form [formGroup]="form" class="positionMenu position2">
    <ng-multiselect-dropdown
      [placeholder]="'Tipo'" 
      [data]="dataAves" 
      [formControl]="f.name3" 
      [settings]="settings"
      [disabled]="false"
      (onSelect)="onSelectAves($event)" 
      (onDeSelect)="onDeSelectAves($event)">
		</ng-multiselect-dropdown>
  </form>
  </div>

  <!-- <span *ngIf="f?.name?.errors?.required" style="color: red;">
      City is required
    </span> -->

</div>

<div *ngIf="isCachorroGrande">
    <div class="posImg" *ngFor="let cachorroGrande of products1">
      <img class="tamImg" [src] = "cachorroGrande.image">
      <h4>
        <a [title]="cachorroGrande.name + ' details'">
          {{ cachorroGrande.name }}
        </a>
      </h4>
      <p *ngIf="cachorroGrande.price">
        Preço R${{ cachorroGrande.price}}
      </p>
      <p *ngIf="cachorroGrande.description">
        Descrição: {{ cachorroGrande.description }}
      </p>
      <app-product-alerts
        [product]="cachorroGrande" 
        (notify)="onNotify()">
      </app-product-alerts>   
    </div>
</div>
<div *ngIf="isCachorroMedio" >
    <div class="posImg" *ngFor="let cachorroMedio of products2 " >
      <img class="tamImg" [src] = "cachorroMedio.image">
      <h4>
        <a [title]="cachorroMedio.name + ' details'">
          {{ cachorroMedio.name }}
        </a>
      </h4>
      <p *ngIf="cachorroMedio.price">
        Preço R${{ cachorroMedio.price}}
      </p>
      <p *ngIf="cachorroMedio.description">
        Descrição: {{ cachorroMedio.description }}
      </p>
      <app-product-alerts
        [product]="cachorroMedio" 
        (notify)="onNotify()">
      </app-product-alerts>   
    </div> 
</div>
<div *ngIf="isCachorroPequeno">
  <div  class="posImg" *ngFor="let cachorroPequeno of products3">
    <img class="tamImg" [src] = "cachorroPequeno.image">

      <h4>
        <a [title]="cachorroPequeno.name + ' details'">
          {{ cachorroPequeno.name }}
        </a>
      </h4>

      <p *ngIf="cachorroPequeno.price">
        Preço R${{ cachorroPequeno.price}}
      </p>
      <p *ngIf="cachorroPequeno.description">
        Descrição: {{ cachorroPequeno.description }}
      </p>

      <app-product-alerts
        [product]="cachorroPequeno" 
        (notify)="onNotify()">
      </app-product-alerts>   
  </div> 
</div>

<div *ngIf="isGatoAdulto">
 <div class="posImg" *ngFor="let gatoAdulto of products4">
   <img class="tamImg" [src] = "gatoAdulto.image">
    <h4>
      <a [title]="gatoAdulto.name + ' details'">
        {{ gatoAdulto.name }}
      </a>
    </h4>
    
    <p *ngIf="gatoAdulto.price">
      Preço R${{ gatoAdulto.price}}
    </p>
    <p *ngIf="gatoAdulto.description">
      Descrição: {{ gatoAdulto.description }}
    </p>

    <app-product-alerts
      [product]="gatoAdulto" 
      (notify)="onNotify()">
    </app-product-alerts>   
  </div>
</div>

<div *ngIf="isGatoFilhote">
 <div class = "posImg" *ngFor="let gatoFilhote of products5">
   <img class="tamImg" [src] = "gatoFilhote.image">
    <h4>
      <a [title]="gatoFilhote.name + ' details'">
        {{ gatoFilhote.name }}
      </a>
    </h4>
    
    <p *ngIf="gatoFilhote.price">
      Preço R${{ gatoFilhote.price}}
    </p>
    <p *ngIf="gatoFilhote.description">
      Descrição: {{ gatoFilhote.description }}
    </p>

    <app-product-alerts
      [product]="gatoFilhote" 
      (notify)="onNotify()">
    </app-product-alerts>   
  </div>
</div>

<div *ngIf="isGatoCastrado">
 <div class = "posImg" *ngFor="let gatoCastrado of products6">
   <img class="tamImg" [src] = "gatoCastrado.image">
    <h4>
      <a [title]="gatoCastrado.name + ' details'">
        {{ gatoCastrado.name }}
      </a>
    </h4>
    
    <p *ngIf="gatoCastrado.price">
      Preço R${{ gatoCastrado.price}}
    </p>
    <p *ngIf="gatoCastrado.description">
      Descrição: {{ gatoCastrado.description }}
    </p>

    <app-product-alerts
      [product]="gatoCastrado" 
      (notify)="onNotify()">
    </app-product-alerts>   
  </div>
</div>

<div *ngIf="isAvesGalinha">
 <div class = "posImg" *ngFor="let avesGalinha of products7">
   <img class="tamImg" [src] = "avesGalinha.image">
    <h4>
      <a [title]="avesGalinha.name + ' details'">
        {{ avesGalinha.name }}
      </a>
    </h4>
    <p *ngIf="avesGalinha.price">
      Preço R$ {{ avesGalinha.price}}
    </p>
    <p *ngIf="avesGalinha.description">
      Descrição: {{ avesGalinha.description }}
    </p>

    <app-product-alerts
      [product]="avesGalinha" 
      (notify)="onNotify()">
    </app-product-alerts>   
  </div>
</div>

<div *ngIf="isAvesPassaros">
 <div class = "posImg" *ngFor="let avesPassaros of products8">
   <img class="tamImg" [src] = "avesPassaros.image">
    <h4>
      <a [title]="avesPassaros.name + ' details'">
        {{ avesPassaros.name }}
      </a>
    </h4>
    <p *ngIf="avesPassaros.price">
      Preço R${{ avesPassaros.price}}
    </p>
    <p *ngIf="avesPassaros.description">
      Descrição: {{ avesPassaros.description }}
    </p>

    <app-product-alerts
      [product]="avesPassaros" 
      (notify)="onNotify()">
    </app-product-alerts>   
  </div>
</div>

<div *ngIf="isAvesOutros">
 <div class = "posImg" *ngFor="let avesOutros of products9">
    <img class="tamImg" [src] = "avesOutros.image">
    <h4>
      <a [title]="avesOutros.name + ' details'">
        {{ avesOutros.name }}
      </a>
    </h4>
    <p *ngIf="avesOutros.price">
      Preço R${{avesOutros.price}}
    </p>
    <p *ngIf="avesOutros.description">
      Descrição: {{ avesOutros.description }}
    </p>

    <app-product-alerts
      [product]="avesOutros" 
      (notify)="onNotify()">
    </app-product-alerts>   
  </div>
</div>



    





  

