p {
  font-family: Lato;
}
@media(min-width:768px){
  .position1{
    float:left;
    width: 40%;
  }
  .position2{
    float:left;
    position:absolute;
    right: 30%;
    width: 30%;
  }
  .position3{
    float:left;
    position:absolute;
    right: 1%;
    width: 30%;
  }
}
@media(max-width:767px){
  
  .positionprice{
    justify-content: center;
    position: absolute;
    right: 21px;
    top: 10px;
  }
  .positionName{
    justify-content: center;
    position: absolute;
    right: 21px;
    top: 45px;
  }

  .tamImg{
    width: 150px;
    height: 150px;
  }

  .posImg{
    width: 50%;
    margin-top: 50px;
    text-align-last: center;
    max-height: 210px;
    overflow: hidden;
    min-inline-size: -webkit-fill-available;
  }

  .posImg:hover{
    overflow: visible;
    z-index: 9999;
    border: solid 1px;
    color: blue;
    max-height: 400px;
  }

  .positionMenu{
    padding-left:20px;
    padding-right:20px;
    padding-top:35px;
  }

  .positionMenu2{
    padding-left:20px;
    padding-right:20px;
    /* padding-top:15px; */
  }

  .line{
  border-bottom: solid 5px;
  border-radius: 0px 0px 0px 30px;
  width: 90%;
  position: absolute;
  top:55px;
  left: 18px;
  padding-top: 20px;
  color: #14ad16;
}
}