<app-top-bar></app-top-bar>
    <button class="positionprice" id="Price">Ordernar por preço</button>
    <button class="positionName" id="Name">Ordernar por nome</button>
<div *ngIf="loadContent" >

	<form [formGroup]="form"  class="positionMenu position1">
    <ng-multiselect-dropdown
      [placeholder]="'Tipo de animal'" 
      [data]="dataAnimal" 
      [formControl]="f.name" 
      [settings]="settings"
      (onSelect)="onItemSelectAnimal($event)" 
      (onDeSelect)="onDeSelectAnimal($event)">
		</ng-multiselect-dropdown>
   
  </form>

  <div *ngIf="isCachorroOption">
    <form [formGroup]="form"  class="positionMenu position2">
      
        <ng-multiselect-dropdown
          [placeholder]="'Porte'" 
          [data]="dataPorte" 
          [formControl]="f.name2" 
          [settings]="settings"
          (onSelect)="onItemSelectPorte($event)" 
          (onDeSelect)="onDeSelectPorte($event)">
        </ng-multiselect-dropdown>
    
    </form>
   </div>

   <div *ngIf="isGatoOption">
    <form [formGroup]="form"  class="positionMenu position2">
      
        <ng-multiselect-dropdown
          [placeholder]="'Tipo'" 
          [data]="dataGato" 
          [formControl]="f.name2" 
          [settings]="settings"
          (onSelect)="onSelectGato($event)" 
          (onDeSelect)="onDeSelectGato($event)">
        </ng-multiselect-dropdown>
      
    </form>
  </div>

  <div *ngIf="isAvesOption">
   <form [formGroup]="form" class="positionMenu position2">
    <ng-multiselect-dropdown
      [placeholder]="'Tipo'" 
      [data]="dataAves" 
      [formControl]="f.name3" 
      [settings]="settings"
      [disabled]="false"
      (onSelect)="onSelectAves($event)" 
      (onDeSelect)="onDeSelectAves($event)">
		</ng-multiselect-dropdown>
  </form>
  </div>

  <!-- <span *ngIf="f?.name?.errors?.required" style="color: red;">
      City is required
    </span> -->

</div>

<div *ngIf="isCachorroGrande">
    <div *ngFor="let cachorro of products1">
      <p>
        
      </p>
      <h3>
        <a [title]="cachorro.name + ' details'">
          {{ cachorro.name }}
        </a>
      </h3>
      <p *ngIf="cachorro.price">
        Preço R${{cachorro.price}}
      </p>
      <p *ngIf="cachorro.description">
        Descrição: {{ cachorro.description }}
      </p>
      <app-product-alerts
        [product]="cachorro" 
        (notify)="onNotify()">
      </app-product-alerts>   
    </div>
</div>
<div *ngIf="isCachorroMedio" >
    <div *ngFor="let cachorro of products2 " >

      <h3>
        <a [title]="cachorro.name + ' details'">
          {{ cachorro.name }}
        </a>
      </h3>
      <p *ngIf="cachorro.price">
        Preço R${{cachorro.price}}
      </p>
      <p *ngIf="cachorro.description">
        Descrição: {{ cachorro.description }}
      </p>
      <app-product-alerts
        [product]="cachorro" 
        (notify)="onNotify()">
      </app-product-alerts>   
    </div> 
</div>
<div *ngIf="isCachorroPequeno">
    <div   *ngFor="let cachorro of products3">

      <h3>
        <a [title]="cachorro.name + ' details'">
          {{ cachorro.name }}
        </a>
      </h3>
      <p *ngIf="cachorro.price">
        Preço R${{cachorro.price}}
      </p>
      <p *ngIf="cachorro.description">
        Descrição: {{ cachorro.description }}
      </p>
      <app-product-alerts
        [product]="cachorro" 
        (notify)="onNotify()">
      </app-product-alerts>   
    </div> 
</div>

<div *ngIf="isGatoAdulto">
 <div *ngFor="let gato of products4">
    <h3>
      <a [title]="gato.name + ' details'">
        {{ gato.name }}
      </a>
    </h3>
    
    <p *ngIf="gato.price">
      Preço R${{gato.price}}
    </p>
    <p *ngIf="gato.description">
      Descrição: {{ gato.description }}
    </p>

    <app-product-alerts
      [product]="gato" 
      (notify)="onNotify()">
    </app-product-alerts>   
  </div>
</div>

<div *ngIf="isGatoFilhote">
 <div *ngFor="let gato of products5">
    <h3>
      <a [title]="gato.name + ' details'">
        {{ gato.name }}
      </a>
    </h3>
    
    <p *ngIf="gato.price">
      Preço R${{gato.price}}
    </p>
    <p *ngIf="gato.description">
      Descrição: {{ gato.description }}
    </p>

    <app-product-alerts
      [product]="gato" 
      (notify)="onNotify()">
    </app-product-alerts>   
  </div>
</div>

<div *ngIf="isGatoCastrado">
 <div *ngFor="let gato of products6">
    <h3>
      <a [title]="gato.name + ' details'">
        {{ gato.name }}
      </a>
    </h3>
    
    <p *ngIf="gato.price">
      Preço R${{gato.price}}
    </p>
    <p *ngIf="gato.description">
      Descrição: {{ gato.description }}
    </p>

    <app-product-alerts
      [product]="gato" 
      (notify)="onNotify()">
    </app-product-alerts>   
  </div>
</div>

<div *ngIf="isAvesGalinha">
 <div class = "posImg" *ngFor="let avesGalinha of products7">
   
   <img class="tamImg" [src] = "avesGalinha.image">
    <h4>
      <a [title]="avesGalinha.name + ' details'">
        {{ avesGalinha.name }}
      </a>
    </h4>
    <p *ngIf="avesGalinha.price">
      Preço R${{avesGalinha.price}}
    </p>
    <p *ngIf="avesGalinha.description">
      Descrição: {{ avesGalinha.description }}
    </p>

    <app-product-alerts
      [product]="avesGalinha" 
      (notify)="onNotify()">
    </app-product-alerts>   
  </div>
</div>

<div *ngIf="isAvesPassaros">
 <div *ngFor="let aves of products8">
    <h3>
      <a [title]="aves.name + ' details'">
        {{ aves.name }}
      </a>
    </h3>
    <p *ngIf="aves.price">
      Preço R${{aves.price}}
    </p>
    <p *ngIf="aves.description">
      Descrição: {{ aves.description }}
    </p>

    <app-product-alerts
      [product]="aves" 
      (notify)="onNotify()">
    </app-product-alerts>   
  </div>
</div>

<div *ngIf="isAvesOutros">
 <div *ngFor="let aves of products9">
    <h3>
      <a [title]="aves.name + ' details'">
        {{ aves.name }}
      </a>
    </h3>
    <p *ngIf="aves.price">
      Preço R${{aves.price}}
    </p>
    <p *ngIf="aves.description">
      Descrição: {{ aves.description }}
    </p>

    <app-product-alerts
      [product]="aves" 
      (notify)="onNotify()">
    </app-product-alerts>   
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    





  

